absl-py==1.4.0
appnope==0.1.3
asttokens==2.4.0
astunparse==1.6.3
backcall==0.2.0
box2d-py==2.3.5
build==1.0.3
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.3.0
cloudpickle==3.0.0
comm==0.1.4
contourpy==1.1.1
cycler==0.12.1
decorator==5.1.1
dm-tree==0.1.8
exceptiongroup==1.1.3
executing==2.0.0
filelock==3.12.4
flatbuffers==23.5.26
fonttools==4.43.1
fsspec==2023.9.2
gast==0.5.4
google-auth==2.23.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.59.0
gym==0.25.2
gym-notices==0.0.8
h5py==3.10.0
idna==3.4
ipython==8.16.1
ipywidgets==8.1.1
jedi==0.19.1
Jinja2==3.1.2
jupyterlab-widgets==3.0.9
keras==2.14.0
keras-nightly==2.15.0.dev2023092207
keras-rl2==1.0.5
kiwisolver==1.4.5
libclang==16.0.6
Markdown==3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mdurl==0.1.2
ml-dtypes==0.3.1
mpmath==1.3.0
networkx==3.2
numpy==1.26.1
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==23.2
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.1.0
prompt-toolkit==3.0.39
protobuf==4.23.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pygame==2.1.0
pyglet==2.0.9
Pygments==2.16.1
pyparsing==3.1.1
pyproject_hooks==1.0.0
python-dateutil==2.8.2
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.6.0
rsa==4.9
six==1.16.0
stack-data==0.6.3
swig==4.1.1
sympy==1.12
tb-nightly==2.15.0a20231018
tensorboard==2.14.1
tensorboard-data-server==0.7.1
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.14.0
tensorflow-model-optimization==0.7.5
termcolor==2.3.0
tf-estimator-nightly==2.14.0.dev2023080308
tf-nightly==2.16.0.dev20231018
tf-nightly-macos==2.16.0.dev20231018
tomli==2.0.1
torch==2.1.0
tqdm==4.66.1
traitlets==5.11.2
typing_extensions==4.8.0
urllib3==2.0.7
wcwidth==0.2.8
Werkzeug==3.0.0
widgetsnbextension==4.0.9
wrapt==1.14.1